/* slider */
.slide{
    position: relative;
}

.slide img{
    display: block;
    width: 100%;
    object-fit: cover;
}

.slide .text {
    position: absolute;
    bottom: 0px;
    left: 160px;
    line-height: 1.5;
    opacity: 0;
}

.slider .slick-active .text{
    animation-name: slick_ani;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes slick_ani{
    0% {
        bottom: 0px ;
        opacity: 0;
    }
    100% {
        bottom: 180px ;
        opacity: 1;
    }
}

.slide .text h3{
    font-size: 32px;
}

/* slick-dots */

.slick-dots{
    position: absolute;
    bottom: 100px;
    left: -25px;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 160px;
    margin: 0px;
    cursor: pointer;
}

.slick-dots li button{
    padding: 0;
}

.slick-dots li button:before{
    content: '';
    background-color: #fff;
    width: 160px;
    height: 1px;
}

.slick-dots li.slick-active button:before{
    content: '';
    background-color: #fff;
    width: 160px;
    height: 2px;
}

.slick-dotted.slick-slider{
    margin: 0;
}

/* products*/
.swiper_01.products{
    background-color: rgb(255, 244, 228);
    padding: 166px 0;
} 
.products .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.products .swiper-slide .photo img{
    width: 300px;
    height: 300px;
    display: block;
    object-fit: cover;
    margin: 0 auto;
}

.products .swiper-slide .text{
    margin: 30px 0;
    font-size: 22px;
}
.products  .swiper-slide .text h5{
    display: block;
    margin-bottom: 40px;
    font-weight: 400;
}
.products  .swiper-slide .text span{
    display: block;
    font-weight: bold;
}

/* makeup_look */
.makeup_look{
    position: relative;
    background-image: url(../images/makeup_look_main_bg_2208.jpg);
    background-repeat: no-repeat;
    background-position: top left 35%;
    width: 100%;
    height: 1300px;
}

.makeup_look .titles{
    text-align: center;
    padding-top: 100px;
}
.makeup_look .titles h2{
    font-size: 32px;
}
.makeup_look .titles p{
    font-size: 16px;
    margin: 30px 0;
}
.makeup_look .titles .btn{
    display: block;
    text-align: center;
    width: 160px;
    height: 55px;
    line-height: 55px;
    background-color: rgba(0,0,0,0.75);
    color: #fff;
    border-radius: 4px;
    margin: 0 auto;
}

.makeup_look_girl a img{
    display: block;
    margin: 80px auto 0 auto;
    border-radius: 4px;
}

.gangnam img{
    display: block;
    margin: 60px auto;
}

.makeup_products{
    margin-bottom: 56px;
}

.swiper-wrapper .items{
}

.makeup_products .swiper-wrapper .photo{
    width: 739px;
    height: 457px;
    overflow: hidden;
    border-radius: 4px;
    transition: all 0.5s;
    margin: 0 auto;
}

.swiper-wrapper .photo:hover img{
    transform: scale(1.1);
}

.makeup_products img {
    display: block;
    width: 100%;
    transition: all 0.5s;
}

.makeup_title p{
    position: absolute;
    padding: 5px 15px;
    background-color: rgba(0,0,0,0.75);
    color: #fff;
    border-radius: 2px;
    top: 20px;
    left: 20px;
}

.makeup_title i{
    position: absolute;
    font-size: 36px;
    width: 36px;
    height: 36px;
    border-radius: 1005;
    background-color: blue;
    color: #fff;
    bottom: 0;
    right: 0;
}





.m_slider {
    display: none;
} 

.m_btn{
    display: none;
}


/* @media  */
@media (max-width: 576px){

    .slider{
        display: none;
    }

    .m_slider {
        display: block;
    } 

    .m_slide{
        position: relative;
    }
    
    .m_slide img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .m_slide .m_text {
        position: absolute;
        bottom: 100px;
        left: 20px;
        line-height: 1.5;
    }

    .m_slide .m_text h3{
        font-size: 18px;
    }
    .m_slide .m_text p{
        font-size: 12px;
    }
    
    .m_slider .slick-active .m_text{
        animation-name: slick_ani;
        animation-duration: 0.3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    @keyframes slick_ani{
        0% {
            bottom: 0px ;
            opacity: 0;
        }
        100% {
            bottom: 100px ;
            opacity: 1;
        }
    }

    /* slick-dots */

    .slick-dots{
        display: flex;
        position: absolute;
        bottom: 80px;
        left: 80px;
      
    }

    .slick-dots li {
        position: relative;
        display: inline-block;
        width: 45px;
        margin: 0px;
        cursor: pointer;
        
    }

    .slick-dots li button:before{
        position: absolute;
        top: 20px;
        left: -60px;
        width: 45px;
        height: 2px;
        content: '';
        background-color: #fff;
        margin: 0 ;
    }

    .slick-dots li button{
        padding: 0;
    }

    .slick-dots li.slick-active button:before{
        content: '';
        background-color: #fff;
        width: 45px;
        height: 2px;
    }

    .slick-dotted.slick-slider{
        margin: 0;
    }

    /* swiper_01 */
    .swiper_01{
        position: relative;
        background-color: rgb(255, 244, 228);
        padding: 40px 0;
    } 
    .products .swiper-slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    
    .products .swiper-slide .photo img{
        width: 150px;
        height: 150px;
        display: block;
        object-fit: cover;
        margin: 0 auto;
    }
    
    .products .swiper-slide .text{
        font-size: 16px;
    }

    .products .swiper-pagination-progressbar {
        background: rgba(232, 232, 232, 0.8) !important;
        position: absolute;
    }

    .products .swiper-horizontal>.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal, .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite, .swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
        width: 90% !important;
        height: 3px !important;
        left: 20px !important;
        top: initial !important;
    }

    :root {
        --swiper-theme-color: #9a9a9a !important;
    }
    
    /* makeup_look */
    .makeup_look{
        position: relative;
        margin-bottom: 60px;
    }
    .bgc_img{
        background-image: url(../images/makeup_look_main_bg_2208.jpg);
        background-repeat: no-repeat;
        background-position: top;
        width: 150%;
        height: 800px;
    }

    .makeup_look .titles{
        
    }


    
    


    
 
   
}