/* slider */
.slider{
}

.slide{
    position: relative;
}

.slide img{
    display: block;
    width: 100%;
    object-fit: cover;
}

.slide .text {
    position: absolute;
    bottom: 0px;
    left: 160px;
    line-height: 1.5;
    opacity: 0;
}

.slider .slick-active .text{
    animation-name: slick_ani;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes slick_ani{
    0% {
        bottom: 0px ;
        opacity: 0;
    }
    100% {
        bottom: 180px ;
        opacity: 1;
    }
}

.slide .text h3{
    font-size: 32px;
}

/* slick-dots */

.slick-dots{
    position: absolute;
    bottom: 100px;
    left: -25px;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 200px;
    margin: 0px;
    cursor: pointer;
}

.slick-dots li button{
    padding: 0;
}

.slick-dots li button:before{
    content: '';
    background-color: #fff;
    width: 200px;
    height: 1px;
}

.slick-dots li.slick-active button:before{
    content: '';
    background-color: #fff;
    width: 200px;
    height: 2px;
}

.slick-dotted.slick-slider{
    margin: 0;
}

/* products*/
.swiper_01{
    background-color: rgb(255, 244, 228);
    padding: 166px 0;
} 
.swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.swiper-slide .photo img{
    width: 300px;
    height: 300px;
    display: block;
    object-fit: cover;
    margin: 0 auto;
}

.swiper-slide .text{
    margin: 30px 0;
    font-size: 22px;
}
.swiper-slide .text h5{
    display: block;
    margin-bottom: 40px;
    font-weight: 400;
}
.swiper-slide .text span{
    display: block;
    font-weight: bold;
}

/* makeup_look */
.makeup_look{
    position: relative;
}
.bgc_img{
    background-image: url(../images/makeup_look_main_bg_2208.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 100%;
    height: 1850px;
}

.makeup_look .titles{
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.makeup_look .titles img{
    display: block;
    margin: 0 auto;
}
.makeup_look .titles h2{
    display: block;
    font-size: 36px;
}

.makeup_look .titles p{
    display: block;
    margin: 30px 0;
}

.makeup_look .titles a.btn{
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(0,0,0,0.75);
    color: #fff;
    border-radius: 4px;
}

.makeup_look_girl{
    background-image: url(../images/PCE_makeup_main.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 475px;
    height: 602px;
    position: absolute;
    top: 380px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
}

.gangnam{
    background-image: url(../images/makeup_look_main_title_2209.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 1450px;
    height: 160px;
    position: absolute;
    top: 47%;
    left: 45%;
    transform: translateX(-45%);
}

.makeup_products{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    margin: 40px auto;
}

.makeup{
    position: relative;
}

.makeup .eye{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
}


.makeup a:hover .eye .photo{
    transform: scale(1.1);
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    border-radius: 4px;
}

.makeup_title span{
    display: block;
    padding: 5px 15px;
    background-color: rgba(0,0,0,0.75);
    color: #fff;
    border-radius: 2px;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 10px;
}
.makeup_title i{
    font-size: 32px;
    color: #fff;
    padding: 5px;
    background-color: rgb(8, 8, 173);
    border-radius: 100%;
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.m_slider {
    display: none;
} 

@media (max-width: 576px){

    .slider{
        display: none;
    }

    .m_slider {
        display: block;
    } 

    .m_slide{
        position: relative;
    }
    
    .m_slide img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .m_slide .m_text {
        position: absolute;
        bottom: 100px;
        left: 20px;
        line-height: 1.5;
    }

    .m_slide .m_text h3{
        font-size: 18px;
    }
    .m_slide .m_text p{
        font-size: 12px;
    }
    
    .m_slider .slick-active .m_text{
        animation-name: slick_ani;
        animation-duration: 0.3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    @keyframes slick_ani{
        0% {
            bottom: 0px ;
            opacity: 0;
        }
        100% {
            bottom: 100px ;
            opacity: 1;
        }
    }

    /* slick-dots */

    .slick-dots{
        display: flex;
        position: absolute;
        bottom: 80px;
        left: 80px;
      
    }

    .slick-dots li {
        position: relative;
        display: inline-block;
        width: 45px;
        margin: 0px;
        cursor: pointer;
        
    }

    .slick-dots li button:before{
        position: absolute;
        top: 20px;
        left: -60px;
        width: 45px;
        height: 2px;
        content: '';
        background-color: #fff;
        margin: 0 ;
    }

    .slick-dots li button{
        padding: 0;
    }

    .slick-dots li.slick-active button:before{
        content: '';
        background-color: #fff;
        width: 45px;
        height: 2px;
    }

    .slick-dotted.slick-slider{
        margin: 0;
    }

    /* swiper_01 */
    .swiper_01{
        position: relative;
        background-color: rgb(255, 244, 228);
        padding: 40px 0;
    } 
    .swiper-slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    
    .swiper-slide .photo img{
        width: 150px;
        height: 150px;
        display: block;
        object-fit: cover;
        margin: 0 auto;
    }
    
    .swiper-slide .text{
        font-size: 16px;
    }

    .swiper-pagination-progressbar {
        background: rgba(232, 232, 232, 0.8) !important;
        position: absolute;
    }

    .swiper-horizontal>.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal, .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite, .swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
        width: 90% !important;
        height: 3px !important;
        left: 20px !important;
        top: initial !important;
    }

    :root {
        --swiper-theme-color: #9a9a9a !important;
    }
    

    
 
   
}