/* @media  */
@media (max-width: 576px) {
  .slider {
    display: none;
  }

  .m_slider {
    display: block;
  }

  .m_slide {
    position: relative;
  }

  .m_slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .m_slide .m_text {
    position: absolute;
    bottom: 100px;
    left: 20px;
    line-height: 1.5;
  }

  .m_slide .m_text h3 {
    font-size: 18px;
  }
  .m_slide .m_text p {
    font-size: 12px;
  }

  .m_slider .slick-active .m_text {
    animation-name: slick_ani;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes slick_ani {
    0% {
      bottom: 0px;
      opacity: 0;
    }
    100% {
      bottom: 100px;
      opacity: 1;
    }
  }

  .slick-dots {
    bottom: 55px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slick-dots li {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 3px;
    margin: 0px;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
  }

  .slick-dots li button:before {
    width: 45px;
    height: 3px;
    line-height: 3px;
    background-color: #fff;
    content: '';
  }

  .slider .slick-dotted.slick-slider {
    margin-bottom: 0px;
  }

  .swiper_01 .products.swiper_01 {
    position: relative;
    padding: 0px 0;
  }
  .products .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .products .swiper-slide .photo img {
    width: 150px;
    height: 150px;
    display: block;
    object-fit: cover;
    margin: 0 auto;
  }

  .products .swiper-slide .text {
    font-size: 16px;
  }

  .makeup_look {
    position: relative;
    background-image: url(../images/makeup_look_main_bg_2208.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 100%;
    height: 580px;
  }

  .makeup_look .titles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 20px 20px;
  }

  .makeup_look .title {
    display: flex;
    gap: 5px;
  }
  .makeup_look .title img {
    display: block;
    width: 18px;
    height: 32px;
  }

  .makeup_look .titles h2 {
    font-size: 24px;
  }
  .makeup_look .titles p {
    display: none;
  }
  .makeup_look .titles .btn {
    display: none;
  }

  .makeup_look .titles .m_btn {
    display: block;
    font-size: 12px;
  }

  .makeup_look_girl a img {
    display: block;
    width: 248px;
    height: 314px;
    margin: 80px auto 0 auto;
    border-radius: 4px;
  }

  .gangnam img {
    display: block;
    width: 330px;
    margin: 30px auto;
  }

  .makeup_products {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    gap: 20px;
    margin-bottom: 20px;
    padding: 0 10px;
  }

  .makeup_products .item {
    position: relative;
  }

  .makeup_products .item .photo {
    height: 215px;
    border-radius: 4px;
    overflow: hidden;
  }

  .makeup_products .item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s;
  }

  .makeup_products .makeup_title p {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 15px;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    border-radius: 2px;
  }
  .makeup_products .makeup_title i {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 24px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background-color: rgb(26, 26, 131);
    color: #fff;
    border-radius: 100%;
  }

  .soonjung {
    position: relative;
  }

  .soonjung .titles {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 0;
    color: #fff;
  }

  .soonjung .titles p {
    font-size: 14px;
    margin: 20px 0;
  }

  .soonjung .title img {
    display: none;
  }

  .soonjung .title .pc_title {
    display: none;
  }

  .soonjung .btn {
    display: none;
  }

  .soonjung .m_title {
    display: block;
    font-size: 20px;
  }

  .main_photo {
    background-image: url(../images/EP01_002_main_playwithETUDE_2306.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 660px;
    height: 800px;
    border-radius: 0;
  }

  .soonjung_items {
    position: absolute;
    bottom: 20px;
    display: initial;
    display: flex;
    gap: 5px;
    flex-wrap: nowrap;
    overflow-x: scroll;
    width: 100%;
  }

  .soonjung_items li {
    background-color: #f4f4f4;
    border-radius: 4px;
    position: relative;
    width: 180px;
  }

  .soonjung_items .item1 {
    display: block;
    width: 180px;
    height: 300px;
  }

  .soonjung_items img {
    position: absolute;
    display: block;
    width: 180px;
    height: 180px;
    border-radius: 4px 4px 0px 0px;
  }

  .text_box {
    width: 140px;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
  }

  .text_box p {
    display: inline;
    font-size: 12px;
    color: #afafaf;
  }

  .text_box h3 {
    display: block;
    font-size: 12px;
    padding: 5px 0;
  }

  .text_box span {
    display: block;
    font-weight: bold;
    width: 100%;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-top: 10px;
    font-size: 12px;
  }

  hr {
    display: none;
  }

  .gift {
    padding: 0 auto;
  }

  .gift .titles {
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
  }

  .gift .title {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .gift .m_title {
    display: block;
  }

  .gift h2 {
    display: inline-block;
  }

  .gift .titles p {
    display: none;
  }

  .gift .m_btn {
    display: block;
  }

  .gift .btn {
    display: none;
  }

  .gift_items {
    margin: 0px 20px;
  }

  .gift_photo {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
  }

  .gift_photo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s;
  }

  .gift_photo:hover img {
    transform: scale(1.1);
  }

  .slider {
    position: relative;
  }

  .gift_items .slick-slide {
    margin: 0px 60px;
  }

  .gift_items .slick-list {
    margin: 0px -60px;
  }

  .new {
    background-image: initial;
  }

  .new .titles p {
    display: none;
  }

  .new .titles .btn {
    display: none;
  }

  .new .m_title {
    display: block;
    font-size: 12px;
  }

  .new .titles {
    display: flex;
    align-items: center;
    padding-top: 50px;
    justify-content: space-between;
    margin: 20px;
  }
  .new .title {
    display: flex;
  }
  .new .title img {
    display: block;
    width: 24px;
    height: 24px;
  }
  .new .title h2 {
    font-size: 24px;
  }

  .new_products {
    padding: 20px;
  }

  .new_products li {
    position: relative;
  }

  .new_photos img {
    position: absolute;
    display: block;
    width: 180px;
    height: 180px;
    border-radius: 4px 4px 0px 0px;
  }

  .new_photos img:last-child {
    opacity: 0;
    transition: all 0.8s;
  }

  .new_products li .new_photos img:first-child {
    opacity: 1;
  }

  .new_products li .new_photos img:last-child {
    opacity: 0;
  }

  .new_products li:hover .new_photos img:first-child {
    opacity: 0;
    transition: all 0.8s;
  }
  .new_products li:hover .new_photos img:last-child {
    opacity: 1;
  }

  .new_text_box {
    position: relative;
    background-color: rgba(236, 236, 236, 0.8);
    border-radius: 0 0 4px 4px;
    width: 180px;
    height: 180px;
    padding: 10px;
  }
  .new_text_box p {
    display: block;
    font-size: 14px;
    font-weight: bold;
    align-items: center;
  }

  .new_text_box h4 {
    font-weight: normal;
    font-size: 12px;
    align-items: center;
    color: #787878;
    padding: 5px 0;
  }

  .new_text_box span {
    position: absolute;
    bottom: 20px;
    display: block;
    font-weight: bold;
    background-color: #fff;
    width: 160px;
    padding: 5px;
    border: 1px solid #b3b3b3;
  }

  .new_photos {
    display: block;
    width: 180px;
    height: 180px;
  }

  .new_products .slick-slide {
    margin: 0 20px;
  }

  .new_products .slick-list {
    margin: 0 -20px;
  }

  .ad {
    display: flex;
    flex-direction: column;
    padding: 0px;
    border-bottom: none;
    position: relative;
  }

  .ad::before {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #ffdddd;
  }

  .tiktok,
  .sosial {
    position: relative;
  }

  .tiktok {
    padding-left: 0px;
    margin: 60px auto;
    order: 2;
  }

  .tiktok img {
    display: block;
    width: 210px;
    height: 420px;
  }

  .tiktok p {
    position: absolute;
    top: 320px;
    font-size: 16px;
    left: -70px;
    transform: rotateZ(-90deg);
    transform-origin: 0 0;
    margin: 10px 0;
  }

  .tiktok span {
    font-weight: bold;
  }

  .tiktok_text {
    position: absolute;
    display: flex;
    gap: 20px;
    z-index: 1;
    top: -65%;
    left: -20%;
    width: 300px;
    justify-content: center;
  }

  .tiktok_text span {
    font-size: 16px;
    text-align: center;
  }

  .sns {
    position: absolute;
    top: 480px;
    right: 30px;
    display: flex;
    flex-direction: column;
  }

  .sns img {
    display: block;
    width: 24px;
    height: 24px;
    margin-bottom: 12px;
    object-fit: cover;
  }

  .sns_slider {
    position: initial;
    bottom: 0px;
    right: 0;
  }

  .sns_slider p {
    display: none;
  }

  .sns_slider span {
    font-weight: bold;
  }

  .sns_slides img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .sns_slides .slick-list {
    width: 100%;
    height: 100%;
  }

  .news_event {
    margin-bottom: 20px;
  }

  .news_event .titles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
  }
  .news_event .title {
    display: flex;
    align-items: center;
  }

  .news_event .m_btn {
    display: block;
    font-size: 20px;
  }
  .news_event .title img {
    display: block;
    width: 20px;
    height: 24px;
    gap: 5px;
  }

  .news_event .title h2 {
    display: block;
    font-size: 24px;
    text-align: center;
  }

  .news_event .titles .btn {
    display: none;
  }

  .news_slider {
    position: relative;
    padding: 0 20px;
    width: 100%;
  }

  .news_slider .slick-slide {
    margin: 0 10px;
  }

  .news_slider .slick-list {
    margin: 0 -10px;
  }

  .news_slide {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
  }

  .news_slide h3 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
  }

  .news_slide img {
    display: block;
    width: 380px;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s;
  }

  .arrows {
    display: none;
  }

  .arrows i {
    font-size: 32px;
  }
}
