.sub_bg{
    background-color: #474F5B;
    width: 100%;
    height: 50px;  
    
}

.sub_gnb{
    display: flex;
    color: #d2d0d1;
    font-size: 16px;
}

.sub_gnb > li{
    align-items:center ;
    text-align: center; 
    height: 50px; 
    padding-top: 16px;
    position: relative;  
}


.sub_gnb>li>a{
    display: block;
    width: 146px;
    border-right: 1px solid #d2d0d1; 
}

.sub_gnb>li:hover{
    color: #F2F2F2;
    background-color: #5A606C;
}

.sub_gnb ul{
    display: none;
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    padding-top: 10px;
    border: 1px solid #F2F2F2;
    color: #222;
    height: 250px;
}

.sub_gnb::before{
    display: none;
    width: 100%;
    height: 250px;
    content: '';
    position: absolute;
    top: 130px;
    left: 0;
    background-color: #fff;
    filter: drop-shadow(0px 2px 5px rgba(0,0,0,0.25));
}

.sub_gnb ul > li{
    padding: 10px;
    font-size: 12px;
    text-align: start;
}

.sub_last{
    padding: 10px;
    margin-top: 20px;
    font-size: 12px;
    text-align: start;
    width: 145px;
    border-top:1px solid #F2F2F2;
    
}

.sub_last li{
    padding: 12px 0;
    text-align: start;
}

.sub_last li a{
    align-items: center;
    display: flex;
    gap: 5px;
}


.sub_last img{
    display: block;
}

/* slider */
.slider{
}

.slides{
    display: Flex;
    position: relative;
    height: 256px;   
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 256px;
    background-repeat: no-repeat;
    background-position: center;
}

.slide1{
    background-image: url(./images/card/mainVisual_bg_blue.jpg);
}

.slide_contents{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 20px;
}


.content{
    width: 860px;
    display: flex;
    justify-content: space-between;
    flex: 1;
    gap: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
    align-items: center;
    
}

.content_titiles{
    color: #fff;
}

.content_titiles h1{
    filter: drop-shadow(1px 1px #222);
}


.content_titiles p{
    display: block;
    padding: 10px 0;
}


.slide_list{
    display: flex;
    gap: 5px;
   
   
}

.btns{
    font-size: 18px;
    display: flex;
    gap: 10px;
    padding-top: 10px;
    justify-content: center;
}

.btns .btn{
    display: flex;
    gap: 10px;
    padding: 14px 20px;
    background-color: #fff;
    border-radius: 8px;
    align-items: center;
}

.btns .btn img{
    display: inline-block;
    height: 10px;
    line-height: 10px;
}


.slide2{
    background-image: url(./images/card/mainVisual_bg_red.jpg);
}

.slide3{

    background-image: url(./images/card/mainVisual_bg_orange.jpg);

}

.slide4{

    background-image: url(./images/card/mainVisual_bg_green.jpg);

}


.btn#btn4{
    background-color: #268E19;
    color: #fff;
}

#btn1{
    color: #007fb3;
}

#btn2{
    color: #e16440;
}

#btn3{
    color: #b77030;
}

#btn4{
    color: #2ca61d;
}

/* section 1 */
.section1_gnb{
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    align-items: center;
    margin-top: 20px;
}

.section1_gnb li{
    width: 20%;
    text-align: center;
    height: 40px;
    border-bottom: 1px solid #18ABEB;
    
}

.section1_gnb li a{
    display: block;
    color: #aeaeae;
    border-right: 1px solid #aeaeae;
}

.section1_card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.section1_card li{
    width: 332px;
    height: 392px;
    justify-content: center;
    align-items: center;
}

.section1_card h3{
    font-size: 16px;
}

    .section1_card li img{
    display: block;
    height: 260px;
}


/* Section 2_ Event */
.event_bg{
    background-color: #F3F3F7;
    width: 100%;
    position: relative;
}

.event{
    padding: 40px 0;
}

.event h2{
    display: block;
    text-align: center;
}


.event_list{
    display: flex;
    margin-top: 36px;
    gap: 12px;
    justify-content: center;
}

.event_list li a{
    width: 230px;
    height: 255px;  
}

.event_list li a img{
    display: block;
    width: 240px;
    height: 160px;
}

.contents{
    width: 240px;
    height: 110px;
    background-color: #fff;
    padding: 18px;
    border: 1px solid #d9d9d9
}

.event_list li p{
    font-weight: bold;
    display: block;
    height: 38px;
}

.event_list li span{
    display: inline-block;
    font-size: 12px;
    height: 20px;
    margin-top: 15px;
    color: #5A606C;
}

/* section3 */
.section3_bg{
    background-color: #DCE7EE;
}

.section3_title h2{
    display: block;
    text-align: center;
    padding: 40px 0;
}

.search{
    display: flex;
    align-items: center;
    font-size: 18px;
    gap: 40px;
    justify-content: center;
}

.btn_keyword{
    position: relative;
    display: block;
    padding: 12.5px 25px;
    background-color: #0085D4;
    font-weight: bold;
    color: #fff;
}

.arrow{
    position: absolute;
    width: 18px;
    height: 18px;
    background-image: url(./images/card/search_btn_arrow.png);
    background-repeat: no-repeat;
    top: 100%;
    left: 45%;
}

.search_bar{
    display: flex;
    gap: 15px;
    align-items: center;   
    background-color: #fff;
    padding: 10px 15px;
    border: 1px solid #007fb3;
    color: #007fb3;
    
}

.search_bar img{
    display: block;
}

.words{
    margin: 20px 0;
    background-color:#F1F5F8 ;
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px 180px;
    justify-content: center;
}

.words li{
  
    
}

.words li a{
    display: block;
    font-size: 16px;
    padding: 10px 18px;
    border: 1px solid #aeaeae;
    color: #aeaeae;
    border-radius: 100px;
    background-color: #fff;
}

.btn_search{
    display: flex;
   
    justify-content: center;
}

.btn_search span{
    display: block;
    text-align: center;
    width: 120px;
    padding: 10px 40px;
    background-color: #BAC0C3;
    color: #fff;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
}


.section3_gnb1{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    
}

.section3_gnb1 li{
    width: 200px;
    height: 55px;
    line-height: 55px;
    text-align: center;
   
}

.section3_gnb1 li a{
    display: flex;
    font-size: 13px;
    color: #5A606C;
    gap: 5px;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #aeaeae;
    height: 20px;
    margin-top:20px;
    
}

.section3_gnb1 .icon{
    background-image: url(./images/card/ico_fotmenu.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.icon1{
    background-position: 0 0
}

.icon2{
    background-position: 0 -100px
}
.icon3{
    background-position: 0 -200px
}
.icon4{
    background-position: 0 -300px
}
.icon5{
    background-position: 0 -400px
}

.section3_gnb2{
    position: relative;
    padding: 10px 0;
    padding-left: 180px ;
    background-color: #F2F7F9;
    
}

.section3_gnb2 a{
    display: flex;
    align-items: center;
    gap: 20px;
    color: #5A606C;
    font-size: 13px;
    
}

.section3_gnb2 img{
    display: block;
    width: 15px;
    height: 13px;
}

.arrow{
    position: absolute;
    top: 20%;
    left: 205px;
    background-image: url(./images/card/ico_histroy_arrow.png);
    width: 6px;
    height: 13px;
}

