.side_btn{
    display: flex;
    gap: 1100px;
}

.side a{
    display: block;
    background-color: rgba(0,0,0,0.2);
    color: #fff;
    font-size: 32px;
    text-align: center;
    align-items: center;
    width: 40px;
    height: 60px;
    line-height: 60px;
}

/* slider */

.slider{
    position: relative;
}

.slider .side_btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.slider .play_btn{
    display: flex;
    gap: 15px;
    position: absolute;
    top: 85%;
    left: 50%;
}

.stop{
    background-image: url(./images/sub_mainVisual_controls2.png);
    background-repeat: no-repeat;
    width: 12px;
    height: 10px;
}

.play_list{
    background-image: url(./images/sub_mainVisual_controls2.png);
    background-repeat: no-repeat;
    background-position: 50% -8%;
    width:20px;
    height: 20px;

}





.slide{
    background-image: url(./images/1081850_221014_h_main_vis_hdcd.png);
    background-position: center;
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
}

.slider_contents{
    position: absolute;
    color: #fff;
    top: 30%;
}

.slider_contents h1{
    line-height: 1.2;
    font-size: 32px;
}

.slider_contents p{
    margin: 20px 0;
}

.btn_view{
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid #fff;
}

/* sub_menu */
.sub_menu{
    display: flex;
    width: 1000px;
    justify-content: center;
    z-index: 1;
    height: 50px;
    line-height: 50px;
    background-color: #fff;  
    position: absolute;
    top: 500px;
    box-shadow: 5px 5px 5px 0px rgb(34,34,34,0.2);
}

.sub_menu li span{
    padding: 0 30px;
    border-right: 1px solid #b3b3b3;
}

.sub_menu li:last-child span{
    border-right: none
}

.sub_menu li:hover{
    color: #18ABEB;
    text-decoration: underline;
}

/* Event */
.event_bg{
    background-color: #F3F3F7;
    width: 100%;
    position: relative;
}

.event{
    padding: 70px 0;
    height: 550px;
}

.event_list li{
    border: 5px solid transparent;
}

.event_list li a img{
    display: block;
    width: 230px;
    height: 165px;
}

.contents{
    width: 230px;
    height: 90px;
    background-color: #fff;
    padding: 18px;
}

.event_bg .side_btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.event_titles ul li:hover{
    color: #18ABEB;
}

.event_titles ul li:first-child a{
    color: #18ABEB;
    text-decoration: underline;
    font-weight: bold;
}

.btn_plus{
    display: block;
    text-align: center;
    border: 1px solid #aeaeae;    
    padding: 10px;
    width: 36px;
    height: 36px;
}

.btn_plus:hover{
    background-color: #18ABEB;
    border: 1px solid #18ABEB;
    color: #fff;
}

.event_list li:hover{
    border: 5px solid #18ABEB;
} */


.big_ban{
    height: 570px;
   
}

.big_img{
    display: block;
    background-image: url(./images/h_intro_mb_220527.jpg);
    background-position: center;
    width: 100%;
    height: 570px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    
}

.big_contents{
    position: absolute;
    width: 330px;
    color: white;
    top: 25%;
    left: 60%;
}

.big_contents h1{
    display: block;
}

.big_contents p{
    display: inline-block;
    margin: 40px 0;
}

.QR{
    display: flex;
    gap: 40px;
}

.QR .app{
    display: flex;
    gap: 5px;
    justify-content: center;
    margin: 10px 0;
}

/* card */
.card{
    margin: 100px 0;
}

.card_titles{
    display: flex;
    line-height: 1;
    justify-content: space-between;
}

.card_titles h2{
    font-size: 32px;
}

.card_list{
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
}

.card_list li{
    width: 200px;
    margin: 0 auto;
    
}

.card_list li img{
    display: block;
    width: 146px;
    height: 235px;
    margin: 0 auto;
}

.card_list li h4{
    display: inline-block;
    margin: 20px 0;
    text-align: center;
    height: 38px;
}

.card_list li p{
    display: block;
    font-size: 12px;
    color: #b3b3b3;
    text-align: center;
    margin-bottom: 10px;
    height: 36px;
}

.card_list li a{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: 12px;
    background-color: #F5FCFF;
    border: 1px solid #aeaeae;
}

/* notice */
.notice_bg{
    background-color: #DCECF4;
    height: 605px;
}

.others{
    display: flex;
    gap: 20px;
    padding-top: 100px;
}

.others>div{
    flex: 1;
    width: 490px;
    height: 405px;
}

.notice1{
    background-color: #fff;
}

.notice_titles{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.notice_titles h2{
    font-size: 32px;
    font-weight: bold;
    
}

.notice_title{
    display: flex;
    align-items: center;
    line-height: 1;
    gap: 20px;
    color: #aeaeae;
}

.notice_title li:hover{
    color: #18ABEB;
    text-decoration: underline;
}

.notice_title li:first-child{
    color: #18ABEB;
    text-decoration: underline;
    font-weight: bold;   
}

.notice_title ul{
    display: flex;
    gap: 20px;
}

.notice_list li{
    padding: 8px 20px;
    font-size: 14px;
    list-style: inside;  
}

.notice_list li:hover{
    text-decoration: underline;
}

.notice2{
    position: relative;
    overflow: hidden;
   
}

.notice2 .box{
    height: 195px;
}

.small_banner{
    display: flex;
    position: absolute;
    
    
    
}

.small_banner img{
    display: block;
    width: 490px;
    

}

.notice2 .play_btn{
    position: absolute;
    display: flex;
    gap: 5px;
    top: 42%;
    left: 50%;
    transform: translate(-42%,-50%);
}

.link{
    margin-top: 20px;
    width: 490px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}



.link li {
    width: 235px;
    height: 56px;
    line-height: 56px;
    background-color: #fff;
    align-items: center;
    border: 2px solid transparent;
}


.link li:hover {
    border: 2px solid #18ABEB;
    color: #18ABEB;
    font-weight: bold;
}


.link li a{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}


.link li a::after{
    content: "";
    display: block;
    width: 42px;
    height: 40px;
    background-image: url(./images/icon_banner_group.png);
}

.link1::after{
    background-position: -0px 0;
    background-repeat: no-repeat;
}

.link2::after{
    background-position: -135px 0;
    background-repeat: no-repeat;
}
.link3::after{
    background-position: -270px 0;
    background-repeat: no-repeat;
}
.link4::after{
    background-position: -405px 0;
    background-repeat: no-repeat;
}
.link5::after{
    background-position: -530px 0;
    background-repeat: no-repeat;
}
.link6::after{
    background-position: -665px 0;
    background-repeat: no-repeat;
}

